/* <----media query for 767px start here---> */
@media screen and (max-width:767px){
    .navbar-dark .navbar-nav .nav-link.active,
    .navbar-dark .navbar-nav .nav-link:hover{
        border-bottom:2px solid transparent;
    }
    .feature{
        padding:10px 0 ;
    }
    .fixed-background h3{
        margin-bottom: 0px;
    }
}
/* <----media query for 767px ends here---> */

/* <----media query for 460px start here---> */
@media screen and (max-width:460px){
    .caption h1{
        font-size: 32px;
        font-weight: 700;
        padding-bottom: 10px;
    }
    .caption h3{
        font-size: 22px;
        font-weight: 700;
        padding-bottom: 8px;
    }
}
/* <----media query for 460px ends here---> */

/* <----media query for 360px start here---> */
@media screen and (max-width:360px){
    .btn-secondary {
        margin:0;
        font-size: 14px;
        padding:5 10px;
    }
    .fixed-background h3{
        margin-bottom: 0;
    }
    blockquote{
        font-size: 14px;
    }
}
/* <----media query for 360px ends here---> */